{
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./src"],
                "alias": {
                    "~": "./src",
                    "icon": "./src/resources/icon",
                    "image": "./src/resources/image"
                }
            }
        ]
    ]
}
