.categoryBar {
    @apply py-5 overflow-x-auto w-full;
    &::-webkit-scrollbar {
        background-color: transparent;
        height: 2px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0);
        border-radius: 20;
    }
    &:hover::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.215);
    }
    .menuItem {
        margin-right: 40px;
        display: inline-block;
    }
}
