@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./resources/font/font.css');
body {
    margin: 0;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: 'Roboto', sans-serif;
}
@layer base {
    :root {
        --subject-color: #3b34867c;
        --text-dark: #18122b;
        --bg-dark: #0f0e0e;
        --z-header: 10;
        --z-scrollList: 1;
        --z-scrollList-btn: 2;
        --z-body: 3;
        --sm-margin: 4px;
        --default-margin: 8px;
    }
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1.5rem;
    }
    h5 {
        font-size: 1.25rem;
    }
    h6 {
        font-size: 1rem;
    }
}
